/* styles.css */
body {
    background-image: url('./Images/malware_pic6.jpg'); /* Path to the image relative to styles.css */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f0f0f0;

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 800px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Vertical spacing between inputs */
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

input[type="file"] {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

pre {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: monospace;
    white-space: pre-wrap;
}

#result {
    overflow: auto; /* Enable scrolling if content overflows */
  }
  .custom-file-input, .custom-folder-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.custom-file-input + label, .custom-folder-input + label {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
  